# Виртуальное окружение
.venv/
venv/
env/

# Файлы с секретами (API ключи, токены бота)
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки VS Code или других редакторов (по желанию)
.vscode/
.idea/